<p><a ng-href="#">Домой</a>&nbsp;<a ng-href="#messages">Рассылка</a></p>

<pre>Статус: {{ t.statusDescription }}</pre>

<form ng-submit="t.initForwarding()">
    <input class="btn-primary" ng-disabled="!t.isNew() || t.forwardWaiting" type="submit" value="{{t.forwardButtonText}}">
</form>

<div>
    <p>Текст сообщения</p>
    <textarea ng-disabled="!t.isNew()" rows="10" ng-model="t.message">{{ t.message }}</textarea>
</div>

<label><input type="checkbox" ng-disabled="!t.isNew()" ng-model="t.enableWebPagePreview"/> Отображать превью</label><br>
<label>Тип разметки
    <select ng-disabled="!t.isNew()" ng-model="t.parseMode" ng-options="pm.id as pm.name for pm in
    t.parseModes"></select></label>

<form ng-submit="t.sendMessage()">
    <input class="btn-primary" ng-disabled="!t.isNew()" type="submit" value="Отправить всем">
</form>

<form ng-submit="t.sendMessageToMe()">
    <input class="btn-primary" ng-disabled="!t.isNew()" type="submit" value="Отправить мне">
</form>

<form ng-submit="t.startSending()">
    <input class="btn-primary" ng-disabled="!t.isSendingAllowed || t.isNew()" type="submit" value="Начать отправку">
    <label><input ng-disabled="!t.isSendingAllowed || t.isNew() || t.isSendingToAll" type="text" ng-model="t.sendCount"></label>
    <label><input ng-disabled="!t.isSendingAllowed || t.isNew()" type="checkbox" ng-model="t.isSendingToAll"> Всем</label>
</form>
<form ng-submit="t.cancelSending()">
    <input class="btn-primary" ng-disabled="!t.isCancelAllowed" type="submit" value="Отменить">
</form>